.margin-10{
    margin: 10px;
}

.height-max{
    height: 795px !important;
    max-height: 795px !important;;
}

.CodeMirror {
    font-size: 11px;
}

.frame{
    height: 800px;
    width: 800px;
}

.template-container{

}